	</div> <!-- close <div id="main-content"> -->


	<!-- Semantic UI CDN - for icons used in footer -->
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/components/icon.min.css">

	<div class="footer">
		<p>
			<a href="http://lindsayelia.com/" target="blank"><i class="rocket icon large"></i></a>
			<a href="https://github.com/LindsayElia" target="blank"><i class="github icon large"></i></a>
			<a href="https://www.linkedin.com/in/lindsayelia" target="blank"><i class="linkedin square icon large"></i></a>
		</p>

		<p class="italic">Made by</p>
		<p>Lindsay Elia - Full Stack Developer</p>

		<p>&copy; 2015 Lindsay Elia</p>
	</div> <!-- close <div class="footer"> -->


</body>
</html>