<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Our Family Photos Online</title>


<!-- CSS -->

	<!-- Semantic UI CDN -->
	<!-- <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.css"> -->
	
	<!-- My CSS files-->
	<link type="text/css" rel="stylesheet" href="/css/main.css">


<!-- JavaScript -->

	<!-- JQuery CDN -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>

	<!-- angular CDN -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
	<!-- angular-route CDN -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>

	<!-- my javascript files -->
	<script type="text/javascript" src="/js/main.js"></script>
	<!--
	<script type="text/javascript" src="/js/controllers.js"></script>
	<script type="text/javascript" src="/js/directives.js"></script>
	<script type="text/javascript" src="/js/filters.js"></script>
	<script type="text/javascript" src="/js/services.js"></script>
	-->


</head>

<body>