<!DOCTYPE html>
<html ng-app="familyPhotoAlbumApp">

<head>
	<meta charset="UTF-8">
	<title>Everyone's Photos</title>


	<!-- JavaScript -->
	<!-- ********************************** -->

	<!-- JQuery CDN -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>

	<!-- angular CDN -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
	<!-- angular-route CDN -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>

	<!-- my javascript files -->
	<!-- ********************************** -->


	
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/dynamicStyling.js"></script>
	
	<!-- these are for Angular to work properly -->
	<script type="text/javascript" src="/js/controllers.js"></script>
	<script type="text/javascript" src="/js/directives.js"></script>
	<script type="text/javascript" src="/js/filters.js"></script>
	<script type="text/javascript" src="/js/services.js"></script>


	<!-- CSS -->
	<!-- ********************************** -->
	
	<!-- My CSS files-->
	<link type="text/css" rel="stylesheet" href="/css/main.css">

	<!-- Semantic UI CDN - for icons -->
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/components/icon.min.css">
	


</head>

<body>




