<div class="navbar-outer">
	<div class="navbar-inner">

		<div class="inline float-left">
			<a href="/index"><h1 class="inline logo">EP</h1></a>
		</div>

		<div class="inline float-right">
			<a href="/about"><h2 class="inline nav-button">ABOUT</h2></a>
			<a href="/login"><h2 class="inline nav-button">LOGIN</h2></a>
		</div>

	</div>
</div>

<div id="main-content">
