<div class="navbar-outer">
	<div class="navbar-inner">

		<div class="inline float-left-nav">
			<a href="/index"><h1 class="inline logo">EP</h1></a>
		</div>


		<div class="inline float-right-nav">
			<a href="/groups/:group_name"><h2 class="inline nav-button">FAMILY ALBUM</h2></a>
			<a href="/users/<%= user._id %>/myaccount"><h2 class="inline nav-button" id="my-account-navbar-button">MY ACCOUNT</h2></a>
		</div>


		<div class="flyout-menu-logo-nav">
			<div class="inner-flyout-menu-container">

				<a href="/users/<%= user._id %>/edit"><h2 class="sub-menu">EDIT ACCOUNT</h2></a>
				<a href="/logout"><h2 class="sub-menu">LOGOUT</h2></a>

			</div>
		</div>


	</div>
</div>

<div id="main-content">

