<div class="navbar-outer-public">
	<div class="navbar-inner-public">

		<div class="inline float-left-nav">
			<a href="/index"><h1 class="group-title inline">EVERYONE'S PHOTOS</h1></a>
		</div>


		<div class="inline float-right-nav">

			<h2 class="group-title inline"><%= groupDisplayName %></h2>
		
		</div>

	</div>
</div>

<div id="main-content-public">

