@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Quicksand:400,300,700");


/* ============ COLOR PALETTE ============ */

/*
#DDB84F; /* yellow */
/* for accents */

/*
#272D2D; /* black-ish */
/* for navbar */
/* for body text */

/*
#FCFAF8; /* off-white */

/*
#C9C9CA; /* light gray */

/*
#839197; /* blue gray - lighter blue */
/*

*/


/* ============ GLOBAL ============ */


body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1em;
	background-color: #FCFAF8; /* off-white */
}

a, a:visited, a:hover {
	text-decoration: none;
	color: #272D2D; /* black-ish */
}



/* ============ NAVIGATION ============ */

.navbar-outer-public {
	background-color: #FCFAF8; /* off-white */
	height: 100px;
	background-color: #DDB84F; /* yellow */
}

.navbar-inner-public {
	padding-top: 42px;
	/*background-color: red;*/
}


h1.group-title {
	font-weight: 100;
	font-size: 2em;
	color: #272D2D; /* black-ish */
}

h1.group-title:hover {
	background-color: #FCFAF8; /* off-white */
	color: #272D2D; /* black-ish */
	border-radius: 0;
}

h2.group-title {
	font-size: 3em;
	font-weight: 400;
	position: relative;
	bottom: 10px;
}

#main-content-public {
	background-color: #272D2D; /* black-ish */
}

.inner-container-public {
	width: 90%;
	margin: 0 auto;
}

.spacey-public-div {
	height: 60px;
	width: 30px;
	clear: both;
}

.photo-wrapper-instagram {
	border: 1px solid #FCFAF8; /* off-white */
	background-color: #FCFAF8; /* off-white */
	margin: 15px;
}

.photo-wrapper-flickr {
	border: 1px solid #FCFAF8; /* off-white */
	background-color: #FCFAF8; /* off-white */
	margin: 15px;
}

.photo-wrapper-facebook {
	border: 1px solid #FCFAF8; /* off-white */
	background-color: #FCFAF8; /* off-white */
	margin: 15px;
}

