@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Quicksand:400,300,700");


/* ============ COLOR PALETTE ============ */

/*
#DDB84F; /* yellow */
/* for accents */

/*
#272D2D; /* black-ish */
/* for navbar */
/* for body text */

/*
#FCFAF8; /* off-white */

/*
#C9C9CA; /* light gray */

/*
#839197; /* blue gray - lighter blue */
/*

*/


/* ============ GLOBAL ============ */


body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1em;
	background-color: #FCFAF8; /* off-white */
}

a, a:visited, a:hover {
	text-decoration: none;
	color: #272D2D; /* black-ish */
}

.spacey {
	margin: 20px;
}

.spacey-bottom {
	margin-bottom: 40px;
}

.spacey-bottom-footer {
	margin-bottom: 100px;
}

.spacey-bottom-footer-padding {
	height: 100px;
	width: 30px;
	clear: both;
}

.inline {
	display: inline;
}

.textField {
	line-height: 2;
}

input {
   font-size: 1em;
}

.general-main-content {
	padding-top: 60px;
	min-height: 500px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

p.bold {
	font-weight: 700;
}



/* ============ MAIN CONTENT ============ */

#main-content {
	background-color: #FCFAF8; /* off-white */
	height: 100%;
	padding: 0 10%;
}

.horizontal-line-spacer {
	background-color: #DDB84F; /* yellow */
	height: 1px;
	margin-top: 50px;
}

/*.horizontal-line {
	background-color: #DDB84F;
	height: 1px;
}*/



/* ============ NAVIGATION ============ */

h1 {
	font-weight: 100;
	font-size: 2em;
	/*font-family: Quicksand;*/  /* buttons maybe? */
	/*font-weight: 400;*/
}

h1:hover {
	background-color: #DDB84F; /* yellow */
	color: #272D2D; /* black-ish */
	padding: 5px 8px;
	border-radius: 5px;
}

h2 {
	/*font-family: Roboto;*/
	font-weight: 100;
	font-size: 1.5em;
	padding: 5px 8px;
}

h2.nav-button:hover {
	background-color: #DDB84F; /* yellow */
	color: #272D2D; /* black-ish */
	padding: 5px 8px;
	border-radius: 5px;
}

.logo-title {
	color: #DDB84F; /* yellow */
}

.nav-button {
 	color: #DDB84F; /* yellow */
 	margin-bottom: 0;
 	padding-bottom: 0;
 	position: relative;
 	top: 8px;
 	margin-right: 20px;
 }

.logo {
	color: #DDB84F; /* yellow */
	font-style: italic;
	padding-bottom: 3px;
	padding: 8px 14px 8px 8px;
	border: 1px solid #DDB84F;
	border-radius: 5px;
	position: relative;
	bottom: 10px;
}

.logo:hover {
	background-color: #DDB84F; /* yellow */
	color: #272D2D; /* black-ish */
}

.navbar-outer {
	background-color: #272D2D; /* black-ish */
	height: 100px;
}

.navbar-inner {
	padding-top: 42px;
	/*background-color: red;*/
}

.float-left-nav {
	margin-left: 42px;
}

.float-right-nav {
	float: right;
	margin-right: 20px;
}

.sub-menu {
	color: #272D2D; /* black-ish */
}

.sub-menu:hover {
	background-color: #DDB84F; /* yellow */
	border-radius: 5px;
}

.flyout-menu {
	width: 180px;
	background-color: #C9C9CA; /* light gray */
	positi : absolute;
	right: -4px;
	padding: 1px 30px 36px 18px;
	margin-top: 30px;
	visibility: hidden;
	opacity: .9;
}

.flyout-menu-logo-nav {
	width: 180px;
	background-color: #C9C9CA; /* light gray */
	position: absolute;
	right: -4px;
	padding: 0px 30px 36px 18px;
	margin-top: 20px;
	visibility: hidden;
	opacity: .9;
}





/* ============ FOOTER ============ */

.footer {
	background-color: #C9C9CA; /* light gray */
	height: 200px;
	text-align: center;
	padding-top: 20px;
	clear: both;
	border-top: 2px solid #DDB84F; /* yellow */
}

.italic {
	font-style: italic;
}

.footer a {
	border: 1px solid #C9C9CA; /* light gray */
	padding: 5px 1px 8px 4px;
}

.footer a:hover {
	color: #839197; /* blue gray - lighter blue */
	border: 1px solid #DDB84F; /* yellow */
}


/* ============ ABOUT PAGE ============ */

.question {
	font-weight: 700;
}

.about-spacer-end {
	height: 1px;
	margin-top: 80px;
}

a.about-link, a.about-link:visited {
	color: #DDB84F; /* yellow */
}

a.about-link:hover {
	background-color: #C9C9CA; /* light gray */
	color: #272D2D; /* black-ish */
}



/* ============ HOME PAGE ============ */

.home-main {
	text-align: center;
}

h3 {
	/*font-family: Roboto;*/
	font-weight: 100;
	font-size: 3em;
	line-height: 2;
	margin: 8% auto;
	max-width: 70%;
}

@media screen and (max-width: 900px) {
	.home-last-div {
		font-size: 2em;
	}
}

#landing-image-photo-collection {
	margin-bottom: 20px;
}

.api-logo {
	margin: 0 15px;
}

#facebook-logo-image {
	margin-right: 30px;
	margin-left: 28px;
}

#instagram-logo-image {
	position: relative;
	top: 8px;
}

#flickr-logo-image {
	position: relative;
	top: 12px;
}

.api-logo-names-container {
	margin: 14px auto 80px auto;
	max-width: 560px;
}

.api-logo-name {
	font-size: 1.5em;
	font-weight: 300;
	position: relative;
}

.name-left {
	left: -19%;
}

.name-center {
	left: -4%;
}

.name-right {
	left: 16%;
}

.less-space {
	line-height: 1;
	position: relative;
	top: -24px;
}


/* ============ GET STARTED BUTTON - CSS ANIMATION GROW ============ */

#call-to-action-button {
	font-family: Roboto;
	/*font-weight: 100;*/
	font-weight: 300;
	font-size: 2.5em;
	margin: 80px auto 200px auto;
	padding: 10px 25px;
	background-color: #DDB84F; /* yellow */
	border-radius: 10px;
}


@-webkit-keyframes grow {
	0% {
		transform: scale(1);
	  }
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes grow {
	0% {
		transform: scale(1);
	  }
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

#call-to-action-button:hover {
	background-color: #839197; 	/* blue gray - lighter blue */
	border: 3px solid #DDB84F; /* yellow */
	-webkit-animation: grow .5s;
	animation: grow .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}


/* ============ LOGIN PAGE ============ */

.login-main {
	padding-top: 60px;
	text-align: center;
	min-height: 500px;
	font-weight: 100;
	font-size: 1.5em;
}

#login-form {
	border: 1px solid #C9C9CA; /* light gray */
	padding-bottom: 30px;
	width: 500px;
	margin: auto;
}

/* form input button */
.button {
	font-size: .8em;
	background-color: #C9C9CA; /* light gray */
	padding: 5px 10px 8px 10px;
	border-radius: 5px;
	margin-top: 10px;
}

.button:hover {
	background-color: #839197; /* blue gray - lighter blue */
	border: 2px solid #DDB84F; /* yellow */
	color: #FCFAF8; /* off-white */
	font-weight: 100;
}

p.label-left {
	line-height: 0;
	margin-left: 47px;
	margin-top: 40px;
	text-align: left;
	font-size: .7em;
	font-weight: 400;
}

.textField {
	width: 80%;
}

.float-left-login {
	float: left;
	margin-left: 20%;
	margin-bottom: 70px;
}

.float-right-login {
	float: right;
	margin-right: 20%;
	margin-bottom: 70px;
}



/* ============ SIGNUP PAGE ============ */

.signup-main {
	padding-top: 60px;
	text-align: center;
	min-height: 500px;
	font-weight: 100;
	font-size: 1.5em;
}

#signup-form {
	border: 1px solid #C9C9CA; /* light gray */
	padding-bottom: 30px;
	width: 500px;
	margin: auto;
}


/* ============ REQUEST PASSWORD RESET PAGE ============ */

.request-reset-main {
	padding-top: 60px;
	text-align: center;
	min-height: 650px;
	font-weight: 100;
	font-size: 1.5em;
}

#password-reset-request-form {
	border: 1px solid #C9C9CA; /* light gray */
	padding-bottom: 30px;
	width: 500px;
	margin: auto;
}

.request-reset-subtitle {
	font-size: .8em;
	max-width: 60%;
	margin: 0 auto 40px auto;
}


/* ============ RESET PASSWORD PAGE ============ */

.reset-password-main {
	padding-top: 60px;
	text-align: center;
	min-height: 650px;
	font-weight: 100;
	font-size: 1.5em;
}

#reset-password-form {
	border: 1px solid #C9C9CA; /* light gray */
	padding-bottom: 30px;
	width: 500px;
	margin: auto;
}


/* ============ ERROR PAGES ============ */

.error-page-main {
	padding-top: 60px;
	text-align: center;
	min-height: 650px;
	font-weight: 100;
	font-size: 1.5em;
}

a.error-link, a.error-link:visited {
	color: #DDB84F; /* yellow */
}

a.error-link:hover {
	background-color: #C9C9CA; /* light gray */
	color: #272D2D; /* black-ish */
}



/* ============ USER SHOW PAGE ============ */

h4 {
	font-weight: 100;
	font-size: 2.2em;
	line-height: 1;
}

h5 {
	font-weight: 100;
	font-size: 1.8em;
	line-height: 1;
}

.callout {
	background-color: #839197; /* blue gray - lighter blue */
	padding: 2%;
	width: 80%;
	position: relative;
	margin: 0 auto;
}

i.icon.float-left {
	float: left;
	display: block;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

.button-large {
	line-height: 4em;
	padding-left: 30px;
	padding-right: 30px;
	margin: 35px 28px;
}

.center-buttons {
	text-align: center;
}

.heading-underline-bold {
	border-bottom: 1px solid #DDB84F; /* yellow */
	width: 20%;
	padding-bottom: 5px;
	font-weight: 400;
}

.photo-preview-max-eight {
	max-width: 760px;
	border: 1px solid #C9C9CA; /* light gray */
	/*min-height: 380px;*/
	margin: 20px;
	margin-bottom: 50px;
	padding: 10px;
}

#family-album-button {
	position: relative;
	left: 50px;
	font-size: 1.2em;
}



/* ============ USER EDIT PAGE ============ */


#edit-password-form {
	padding-bottom: 100px;
}

p.label-left-edit-form {
	line-height: 0;
	margin-top: 40px;
	font-weight: 400;
}


/* ============ CONNECT TO AUTH PAGES ============ */

.center-button {
	text-align: center;
	margin-bottom: 40px;
}

.para-underline {
	border-bottom: 2px solid #DDB84F; /* yellow */
	/*width: 20%;*/
	/*padding-bottom: 2px;*/
}

.max-width-sixty {
	max-width: 60%;
	margin: 0 auto;
}

/* ============ FACEBOOK LANDING ============ */

.photo-wrapper-facebook {
	float: left;
	padding: 10px;
}

/* ============ FLICKR LANDING ============ */

.photo-wrapper-flickr {
	float: left;
	padding: 10px;
}

/* ============ INSTAGRAM LANDING ============ */

.photo-wrapper-instagram {
	float: left;
	padding: 10px;
}


/* ============ GROUP PAGES ============ */

a.para-link, a.para-link:visited {
	color: #DDB84F; /* yellow */
}

a.para-link:hover {
	background-color: #C9C9CA; /* light gray */
	color: #272D2D; /* black-ish */
}

#create-group-form {
	border: 1px solid #C9C9CA; /* light gray */
	padding: 30px;
	max-width: 600px;
	margin: auto;
}

p.label-left-group-form {
	font-size: 1.5em;
	font-weight: 100;
}

h2.center {
	margin: 0 auto;
	width: 30%;
}

input.button-group-form {
	margin: 0 auto;
	width: 80%;
	display: block;
}

#add-group-member-form {
	border: 1px solid #C9C9CA; /* light gray */
	padding: 30px;
	max-width: 600px;
	margin: auto;
}

h2.centerWider {
	margin: 0 auto;
	width: 300px;
}

.textArea {
	font-size: .9em;
	width: 100%;
}

#join-group-form {
	border: 1px solid #C9C9CA; /* light gray */
	padding: 30px;
	max-width: 600px;
	margin: auto;
}

.text-align-center {
	text-align: center;
}

.label-left-join-group-form {
	font-size: 1.5em;
	font-weight: 100;
	text-align: left;
	position: relative;
	left: 40px;
}

.button-little-bigger {
	font-size: 1.1em;
}




