<% include ../partials/header %>
<% include ../partials/navbar-title %>

<div class="error-page-main">

	<p>Sorry, the page you requested can't be found. This is the 404 page.</p>
	<p>Please go to the <a href="/index" class="error-link">home page</a> and try again.</p>

</div>  <!-- close <div class="error-page-main"> -->

<% include ../partials/footer %>