<% include ../partials/header %>

<a href="/index"><button>HOME</button></a>

<p>Sorry, there was a problem with this application. This is the 500 page.</p>
<p>Please go to the <a href="/index">home page</a> and try again.</p>

<% include ../partials/footer %>