<% include ../partials/header %>
<% include ../partials/navbar-public %>

<div class="inner-container-public">


	<div class="spacey-public-div"></div>


	<div>
		
		<ul>				
		<!-- allPromises contains an array of three arrays, one for each service -->
		<!-- TO FIX: -->
		<!-- I'm dividing the length of the array allPromiseResponses by three, because for some reason there are 9 instead of 3
		arrays contained in it. There should only be 3. Three is hard coded and could change if I add more APIs. -->
		<% for (var outerArray = 0; outerArray < allPromiseResponses.length/3; outerArray++){  %>
			<% var eachInnerArray = allPromiseResponses[outerArray]; %>
			<% for (var count = 0; count < eachInnerArray.length; count++){  %>
				<a href="<%= eachInnerArray[count].urlFullSize %>"><img src="<%= eachInnerArray[count].urlThumbnail %>" class="photo-wrapper"></a>
			<% } %>
			<div class="clearfix"></div>
		<% } %>
		</ul>

	</div>





	<div class="spacey-bottom-footer-padding"></div>


</div> <!-- close class="inner-container-public">  -->

<% include ../partials/footer %>