<% include ../partials/header %>
<% include ../partials/navbar-public %>

<div class="inner-container-public">

	<div class="spacey-public-div"></div>


	<div>
						
		<% for (var j = 0; j < instaThumbsArray.length; j++){  %>
			<a href="<%= instaFullSizeArray[j] %>"><img src="<%= instaThumbsArray[j] %>" class="photo-wrapper-instagram-public"></a>
		<% } %>

	</div>

	<div>
						
		<% for (var i = 0; i < flickrThumbsArray.length; i++){  %>
			<a href="<%= flickrFullSizeArray[i] %>"><img src="<%= flickrThumbsArray[i] %>" class="photo-wrapper-flickr-public"></a>
		<% } %>

	</div>


	<div ng-controller="FacebookPhotoPreviewAll">

		<div ng-repeat="photo in photos">
			<div class="photo-wrapper-facebook-public">
				<a href=""><img src="{{ photo }}" height="150" class="inline"></a>
			</div>
		</div>

	</div> <!-- close  <div ng-controller="FacebookPhotoPreviewAll"> -->






	<div class="spacey-bottom-footer-padding"></div>


</div> <!-- close class="inner-container-public">  -->

<% include ../partials/footer %>