<% include ../partials/header %>
<% include ../partials/navbar-logo %>


<div class="general-main-content">
<div class="max-width-sixty">

	<h2 class="center">Edit Group</h2>

</div> <!-- close <div class="max-width-sixty"> -->
</div> <!-- close <div class="general-main-content"> -->

<div class="spacey-bottom-footer-padding"></div>

<% include ../partials/footer %>