<% include ../partials/header %>
<% include ../partials/navbar-logo %>

<div class="general-main-content">

	<p>Join a Group</p>

	<p>Coming Soon!</p>


</div> <!-- close <div class="general-main-content"> -->

<% include ../partials/footer %>