<% include ../partials/header %>
<% include ../partials/navbar-logo %>

<div class="general-main-content">

	<p>join an existing group page</p>


</div> <!-- close <div class="general-main-content"> -->

<% include ../partials/footer %>