<% include ../partials/header %>
<% include ../partials/navbar-title %>

<div class="about-spacer"></div>

<p class="question">What is EVERYONE'S PHOTOS and who is it for?</p>

<p>EVERYONE'S PHOTOS is a collaborative photo album designed for families to share all of their photos in one place, while continuing to use the same photo sharing services and tools that they already know and love.</p>

<p>The inspiration for this site came from watching my extended family trying to share photos with each other, especially with family members who were not also already using the same service or photo sharing tool that they were using. Some family members dislike checking email, or don't want to create an account with another photo sharing service just to view photos.</p>

<p>With EVERYONE'S PHOTOS, anyone can view the family's photo album, no sign in is required. The only thing they need is the address, or website URL, for the family photo page. Then you can bookmark this page and always have access to the latest family photos.</p>


<div class="about-spacer"></div>

<p class="question">How much does EVERYONE'S PHOTOS cost to use?</p>

<p>EVERYONE'S PHOTOS is free! It was created as a fun project for my family, and I hope you can enjoy using it for your family.</p>


<div class="about-spacer"></div>

<p class="question">What technologies were used to create EVERYONE'S PHOTOS?</p>

<p>The technology used to build this application includes: NodeJS and ExpressJS (for the back end magic), MongoDB and Mongoose (a database format), HTML and CSS (for the beautiful site layout and styling you see), combined with API integrations for Facebook, Instagram, and Flickr.</p>

<p>My main considerations for this application were to make it extremely easy to use, accessible, and mobile-friendly -- specifically, ipad friendly, so that family members who do not use computers frequently, but do have mobile devices, can enjoy viewing their family's photos.</p>

<p>You can read more about this project and see the source code at <a href="https://github.com/LindsayElia/family-photo-album" target="blank" class="about-link">github.com/LindsayElia/family-photo-album</a>.</p>


<div class="about-spacer"></div>

<p class="question">How can I contact you?</p>

<p>I can be reached via email at <a href="mailto:lindsay.elia+photos@gmail.com" class="about-link">lindsay.elia+photos@gmail.com</a>. You can also contact me through my personal site at <a href="http://lindsayelia.com/" target="blank" class="about-link">www.lindsayelia.com</a>.</p>


<div class="about-spacer-end"></div>

<% include ../partials/footer %>