<% include ../partials/header %>
<% include ../partials/navbar-title %>

<div class="home-main">

	<h3>All of your family’s photos. All in one place.</h3>

	<img src="/img/landing-photo-collage.png" alt="collection of photos" height="400px" id="landing-image-photo-collection">



	<div class="horizontal-line-spacer"></div>

	<h3>Use services you know and love.</h3>

	<div class="api-logo-images-container">
		<img src="/img/logos/FB-f-Logo__blue_144.png" alt="facebook logo image" id="facebook-logo-image" class="api-logo">

		<img src="/img/logos/Instagram_Icon_Large.png" alt="instagram logo image" height="158px" id="instagram-logo-image" class="api-logo">

		<img src="/img/logos/social_flickr_box.png" alt="flickr logo image" height="168px" id="flickr-logo-image" class="api-logo">
	</div>

	<div class="api-logo-names-container">
		<span class="api-logo-name name-left">Facebook</span>
		<span class="api-logo-name name-center">Instagram</span>
		<span class="api-logo-name name-right">Flickr</span>
	</div>

	<div class="horizontal-line-spacer"></div>


	<h3 class="home-last-div">Connect. Invite Family. Share.</h3>
	<h3 class="less-space">Simple.</h3>

	
	<!-- show this if user is NOT logged in -->
	<% if (req.session.id === null || req.session.id === undefined) { %>
		<a href="/signup"><button id="call-to-action-button">GET STARTED</button></a>
	<% } %>

	<!-- show this if user IS logged in -->
	<% if (req.session.id !== null && req.session.id !== undefined) { %>
		<a href="/users/getuser/myaccount"><button id="call-to-action-button">GET STARTED</button></a>
	<% } %>


</div>




<% include ../partials/footer %>