<% include ../partials/header %>

<a href="/index"><button>HOME</button></a>

<h1>EveryonesPhotos</h1>
<div class="spacey"><a href="/authorize/facebook"><button>Sign Up for EveryonesPhotos</button></a></div>
<div class="spacey"><a href="/landing/facebook"><button>Login to my EveryonesPhotos account</button></a></div>

<h1>Facebook</h1>
<div class="spacey"><a href="/authorize/facebook"><button>Go to Facebook Login</button></a></div>
<div class="spacey"><a href="/landing/facebook"><button>Go to Facebook photo stream</button></a></div>

<h1>Instagram</h1>
<div class="spacey"><a href="/authorize/instagram"><button>Go to Instagram Login</button></a></div>
<div class="spacey"><a href="/landing/show/instagram"><button>Go to Instagram photo stream</button></a></div>

<h1>Flickr</h1>
<div class="spacey"><a href="/authorize/flickr"><button>Go to Flickr Login</button></a></div>
<div class="spacey"><a href="/landing/show/flickr"><button>Go to Flickr photo stream</button></a></div>




<% include ../partials/footer %>
