<% include ../partials/header %>
<% include ../partials/navbar-logo %>
<!-- Facebook API calls -->
<script type="text/javascript" src="/js/facebookFrontend.js"></script>

<div class="general-main-content">

	<p>Hello! This is the authFacebook page.</p>



	<!-- Facebook login button & status. 
	This button uses the JavaScript SDK to present a graphical Login button that triggers 
	the FB.login() function when clicked. -->
	<button id="facebookAuthButton" class="spacey">Let this app access my Facebook data</button>

	<div id="status"></div>


	<div class="spacey"><a href="/users/<%= user._id %>/landing/facebook"><button id="goToFacebookLanding">View My Facebook Photos</button></a></div>


	<div ng-controller="BaseController">

		<p>Special message... {{message}}</p>

		<!-- <ul>
			<li ng-repeat="photo in photoArray">{{photo}}</li>
		</ul> -->

	</div>

</div> <!-- close <div class="general-main-content"> -->


<% include ../partials/footer %>
