<% include ../partials/header %>
<!-- Flickr API calls -->

<a href="/index"><button>HOME</button></a>

<p>Hello! This is the authFlickr page for testing Flickr authentication.</p>

<!-- TO CHANGE / FIX - to set thisUser to be dynamic -->
<a href="/connect/flickr"><button>Let this app access my Flickr data - GRANT</button></a>




<% include ../partials/footer %>