<% include ../partials/header %>
<!-- Instagram API calls -->

<script type="text/javascript" src="/js/instagramFrontend.js"></script>

<a href="/index"><button>HOME</button></a>

<p>Hello! This is the authInstagram page for testing instagram authentication.</p>

<div class="spacey"><a href="/users/<%= user._id %>/login/instagram"><button id="instagramAuthButton">Let this app access my Instagram data</button></a></div>

<div class="spacey"><a href="/users/<%= user._id %>/landing/show/instagram"><button id="goToInstagramLanding">View My Instagram Photos</button></a></div>


<% include ../partials/footer %>
