<% include ../partials/header %>
<!-- Facebook API calls -->
<script type="text/javascript" src="/js/facebookFrontend.js"></script>

<a href="/index"><button>HOME</button></a>

<p>Hello! This is the authFacebook page.</p>



<!-- Facebook login button & status. 
This button uses the JavaScript SDK to present a graphical Login button that triggers 
the FB.login() function when clicked. -->
<button id="facebookAuthButton" class="spacey">Let this app access my Facebook data</button>

<div id="status"></div>


<div class="spacey"><a href="/users/<%= user._id %>/authorize/facebook"><button id="goToFacebookLanding">View My Facebook Photos</button></a></div>


<div ng-controller="BaseController">

	<p>Special message... {{message}}</p>

	<!-- <ul>
		<li ng-repeat="photo in photoArray">{{photo}}</li>
	</ul> -->

</div>



<% include ../partials/footer %>
