<% include ../partials/header %>
<!-- Flickr API calls -->

<script type="text/javascript" src="/js/flickrFrontend.js"></script>

<a href="/index"><button>HOME</button></a>

<p>Hello! This is the authFlickr page for testing Flickr authentication.</p>

<div class="spacey"><a href="/connect/flickr"><button id="flickrAuthButton">Let this app access my Flickr data</button></a></div>



<% include ../partials/footer %>