<% include ../partials/header %>


<p>Hello! This is the MAIN index page.</p>


<div class="spacey"><a href="/authorize/facebook"><button>Go to Facebook Login</button></a></div>
<div class="spacey"><a href="/landing/facebook"><button>Go to Facebook photo stream</button></a></div>

<div class="spacey"><a href="/authorize/instagram/"><button>Go to Instagram Login</button></a></div>
<div class="spacey"><a href="/landing/instagram/button"><button>Go to Instagram photo stream</button></a></div>





<% include ../partials/footer %>
