<% include ../partials/header %>


<p>Hello! This is the MAIN index page.</p>


<div class="spacey"><a href="/indexFacebook"><button>Go to Facebook Login</button></a></div>
<div class="spacey"><a href="/facebookLanding"><button>Go to Facebook photo stream</button></a></div>

<div class="spacey"><a href="/indexInstagram"><button>Go to Instagram Login</button></a></div>
<div class="spacey"><a href="/instagramLanding"><button>Go to Instagram photo stream</button></a></div>





<% include ../partials/footer %>
