<% include ../partials/header %>


<p>Hello &amp; welcome. This is the landing page for an application called Everyone's Photos. 
You can read more about this project at <a href="https://github.com/LindsayElia/family-photo-album">github.com/LindsayElia/family-photo-album</a>.</p>

<p>For now, you are welcome to try it out but please note that the application is under development and your data will not be stored for longer than a day or so. Currently this application retrieves the 50 most recent photos from your Facebook and Instagram accounts, if you grant it permission to do so.</p>


<div class="spacey"><a href="/authorize/facebook"><button>Go to Facebook Login</button></a></div>
<div class="spacey"><a href="/landing/facebook"><button>Go to Facebook photo stream</button></a></div>

<div class="spacey"><a href="/authorize/instagram"><button>Go to Instagram Login</button></a></div>
<div class="spacey"><a href="/landing/show/instagram"><button>Go to Instagram photo stream</button></a></div>

<div class="spacey"><a href="/authorize/flickr"><button>Go to Flickr Login</button></a></div>
<div class="spacey"><a href="/landing/show/flickr"><button>Go to Flickr photo stream</button></a></div>




<% include ../partials/footer %>
