<% include ../partials/header %>
<% include ../partials/navbar-logo %>

<div class="general-main-content">

	<h2>My Photos from Facebook</h2>


	<div ng-controller="FacebookPhotoPreviewAll">

		<div ng-repeat="photo in photos">
			<div class="photo-wrapper-facebook">
				<img src="{{ photo }}" height="150" class="inline">
			</div>
		</div>

	</div> <!-- close  <div ng-controller="FacebookPhotoPreviewAll"> -->

</div> <!-- close <div class="general-main-content"> -->

<div class="spacey-bottom-footer-padding"></div>

<% include ../partials/footer %>
