<% include ../partials/header %>
<% include ../partials/navbar-logo %>

<div class="general-main-content">

	<h2>My Photos from Flickr</h2>

	<% for (var i = 0; i < flickrThumbsArray.length; i++){  %>
		<img src="<%= flickrThumbsArray[i] %>" class="photo-wrapper-flickr">
	<% } %>

</div> <!-- close <div class="general-main-content"> -->

<div class="spacey-bottom-footer-padding"></div>

<% include ../partials/footer %>