<% include ../partials/header %>
<a href="/index"><button>HOME</button></a>

<p>This is the landingFacebook page.</p>

<% for (var i = 0; i < fbPhotoThumbsArray.length; i++){  %>
	<span class="spacey"><img src="<%= fbPhotoThumbsArray[i] %>"></span>
<% } %>


<% include ../partials/footer %>
