<% include ../partials/header %>
<% include ../partials/navbar-logo %>

<div class="general-main-content">

	<h2>My Photos from Instagram</h2>

	<% for (var i = 0; i < instaThumbsArray.length; i++){  %>
		<img src="<%= instaThumbsArray[i] %>" class="photo-wrapper-instagram">
	<% } %>

</div> <!-- close <div class="general-main-content"> -->

<div class="spacey-bottom-footer-padding"></div>

<% include ../partials/footer %>