<% include ../partials/header %>

<a href="/index"><button>HOME</button></a>

<p>login page</p>
<p>How to login</p>

<p>New to this site? Sign up for an account.</p>
<div class="spacey"><a href="/signup"><button>Sign Up</button></a></div>

<% include ../partials/footer %>