<% include ../partials/header %>

<h1>Password reset page</h1>

<p>Need a new password? Enter your email and we'll send you a link to reset your password.</p>

<form action="/passwordreset" method="POST">
	<p>
		<label for="userEmail">Email: </label>
		<input type="text" id="userEmail" name="userEmail" placeholder="you@email.com" class="textField" autofocus>
	</p>
	<input type="submit" value="Send password reset email" class="button">

</form>


<p>Need an account? <a href="/signup"><button class="button">Signup</button></a></p>

<p><a href="/index"><button class="button home">Go Home</button></a></p>

<% include ../partials/footer %>