<% include ../partials/header %>
<% include ../partials/navbar-title %>

<div class="request-reset-main">

	<h2>Request New Password</h2>

	<p class="request-reset-subtitle">Need a new password? Enter your email address and we'll email you a link to reset your password.</p>


	<form action="/passwordreset" method="POST" id="password-reset-request-form">

			<p class="label-left"><label for="userEmail">Email: </label></p>
			<p><input type="email" id="userEmail" name="userEmail" placeholder="you@email.com" class="textField" autofocus></p>


		<input type="submit" value="Send password reset email" class="button">

	</form>

	<div class="horizontal-line-spacer"></div>

	<div>
		<p>Need an account?</p>
		<p><a href="/signup"><button class="button">SIGNUP</button></a></p>
	</div>

</div> <!-- close <div class="request-reset-main"> -->


<% include ../partials/footer %>