<% include ../partials/header %>

<h1>Please choose a new password for your account.</h1>

<form action="/reset/:user_id/:token" method="POST">
	<p>
		<input type="hidden" id="token" name="token" value="<%= token %>">
	</p>
	<p>
		<label for="userPass">New Password: </label>
		<input type="password" id="userPass" name="userPass" class="textField">
	</p>
	<input type="submit" value="Change Password and Login" class="button">
</form>


<p>Need an account? <a href="/signup"><button class="button">Signup</button></a></p>

<p><a href="/index"><button class="button home">Go Home</button></a></p>

<% include ../partials/footer %>