<% include ../partials/header %>
<% include ../partials/navbar-title %>

<div class="reset-password-main">

	<h2>Create New Password</h2>

	<p class="request-reset-subtitle">Please choose a new password for your account.</p>

	<form action="/reset/:user_id/:token" method="POST" id="reset-password-form">

		<input type="hidden" id="token" name="token" value="<%= token %>">
		
		<p class="label-left"><label for="userPass">New Password: </label></p>
		<p><input type="password" id="userPass" name="userPass" class="textField"></p>

		<input type="submit" value="Change Password and Login" class="button">
	</form>

	<div class="horizontal-line-spacer"></div>


	<div>
		<p>Need an account?</p>
		<p><a href="/signup"><button class="button">SIGNUP</button></a></p>
	</div>

</div> <!-- close <div class="request-reset-main"> -->

<% include ../partials/footer %>