<% include ../partials/header %>
<% include ../partials/navbar-logo %>

<div class="user-show-page-main">


	<div class="horizontal-line-spacer"></div>

	<h4>My Family Group</h4>
	<div>

		<!-- conditional show -->
		<div class="callout">
			<i class="announcement icon big float-left"></i>
			<p>It looks like you're not a member of a group yet. You can create a new group or join a group you've been invited to.</p>
		</div>

		<a href=""><button>CREATE NEW GROUP</button></a> <!-- hide if already in a group -->
		<a href=""><button>JOIN EXISTING GROUP</button></a>	<!-- hide if already in a group -->

		<h5>Group Details</h5>
		<div>info goes here....if empty, guide to creating/joining group</div>

		<a href=""><button>EDIT GROUP</button></a> 	<!-- only show for group admin -->

	</div>
	


	<div class="horizontal-line-spacer"></div>

	<h4>My Photos</h4>

		<!-- conditional show -->
		<div class="callout">
			<i class="announcement icon big float-left"></i>
			<p>We don't have any photos from you. Please get started by connecting a service.</p>
		</div>

		<div class="facebook-photos-user-show-page">
			<h5>Facbook</h5>

			<a href=""><button>CONNECT FACEBOOK</button></a>

			<a href=""><button>VIEW ALL</button></a>
			<a href=""><button>CONNECT FACEBOOK</button></a>
		</div>

		<div class="flickr-photos-user-show-page">
			<h5>Facbook</h5>

			<a href=""><button>CONNECT FLICKR</button></a>

			<a href=""><button>VIEW ALL</button></a>
			<a href=""><button>CONNECT FACEBOOK</button></a>
		</div>

		<div class="instagram-photos-user-show-page">
			<h5>Facbook</h5>

			<a href=""><button>CONNECT INSTAGRAM</button></a>

			<a href=""><button>VIEW ALL</button></a>
			<a href=""><button>CONNECT FACEBOOK</button></a>
		</div>



</div> <!-- <div class="user-show-page-main"> -->


<% include ../partials/footer %>