<% include ../partials/header %>

<a href="/index"><button>HOME</button></a>

<p>sign up page</p>
<p>How to sign up...</p>

<p>Already have an account?</p>	
<div class="spacey"><a href="/login"><button>Login</button></a></div>

<% include ../partials/footer %>