<% include ../partials/header %>
<% include ../partials/navbar-title %>

<div class="signup-main">

	<h2>Create an account</h2>

	<form action="/signup" method="POST" id="signup-form">

			<p class="label-left"><label for="userEmail">What is your first name? </label></p>
			<p><input type="text" id="userFirstName" name="userFirstName" placeholder="Enter first name" class="textField" autofocus></p>


			<p class="label-left"><label for="userPass">What is your last name? </label></p>
			<p><input type="text" id="userLastName" name="userLastName" placeholder="Enter last name" class="textField"></p>


			<p class="label-left"><label for="userEmail">What is your email? </label></p>
			<p><input type="email" id="userEmail" name="userEmail" placeholder="Enter email" class="textField"></p>


			<p class="label-left"><label for="userPass">Please choose a password: </label></p>
			<p><input type="password" id="userPass" name="userPass" placeholder="Enter password" class="textField" minlength="8"></p>

		<input type="submit" value="Create Account" class="button">

	</form>

	<div class="horizontal-line-spacer"></div>

	<div class="float-left-login">
		<p>Already have an account?</p>
		<p><a href="/login"><button class="button">LOGIN</button></a></p>
	</div>

	<div class="float-right-login">
		<p>Forgot password?</p>
		<p><a href="/passwordreset"><button class="button">RESET PASSWORD</button></a></p>
	</div>


</div> <!-- close <div class="signup-main"> -->


<% include ../partials/footer %>