<!DOCTYPE html>
<html>
<head>
	<title>Facebook Login JavaScript Example</title>
	<meta charset="UTF-8">
	<!-- JQuery CDN -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/facebookLogin.js"></script>
</head>
<body>



<!-- Facebook login button. 
This button uses the JavaScript SDK to present a graphical Login button that triggers 
the FB.login() function when clicked. -->
<fb:login-button scope="public_profile,email,user_photos" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

</body>
</html>